// Museo Sans family.
@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_100_Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_300_Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_500_Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_700_Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans_900_Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}