@mixin pipe( $r, $g, $b ) {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba($r, $g, $b, 0) 0%,
        rgba($r, $g, $b, 1) 52.7%,
        rgba($r, $g, $b, 0) 100%
    );   
}