@use 'vars';
@use 'parts' as parts;

html, body {
    margin: 0;
    padding: 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-museo);
}

.hero {
    position: relative;
}

.hero__background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    .video-frame {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.hero__inner {
    position: relative;
    padding: 90px 90px 160px;
    background: transparent linear-gradient(238deg, var(--unnamed-color-daffca) 0%, #9CEAD1DC 14%, #28C2DE9A 43%, #0097B264 100%) 0% 0% no-repeat padding-box;
    text-align: center;
}

.cca-logo-row {
    margin: 0 auto 25px;
    text-align: left;
}

.hero__logo--move-it {
    display: block;
    margin: 0 auto;
}

.hero__eyebrow {
    
    margin: 27px auto 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/26px var(--unnamed-font-family-museo);
    font-size: 50px;
    color: #DAFFCA;
    line-height: 100px;
    text-shadow: 0px 3px 6px #00000029;
    
    
}

.hero__eyebrow__inner {
    position: relative;
    display: inline-block;
    padding: 0 28px;

    &:before,
    &:after {
        @include parts.pipe( 255, 255, 255 );
    }

    &:after {
        right: 0;
        left: unset;
    }
}

.hero__lead {
    margin: 27px auto 0;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-museo);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 26px/28px Museo;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    max-width: 768px;
}

.hero__cta {
    margin: 28px auto 0;
}

.button {
    display: inline-block;
    line-height: 18px;
    padding: 18px 38px;
    border: 2px solid var(--unnamed-color-daffca);
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #0000001A;
    border: 2px solid #DAFFCA;
    border-radius: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/26px var(--unnamed-font-family-museo);
    text-align: left;
    font: normal normal normal 18px/26px Museo;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.benefits {
    background: #fff;
    padding: 127px 37px 122px;
}

.section-heading__title {
    position: relative;
    padding: 0 0 0 63px;
    max-width: 674px;
    margin: 0 103px 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-58)/var(--unnamed-line-spacing-60) var(--unnamed-font-family-museo);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-007392);
    text-align: left;
    font: normal normal normal 58px/60px Museo;
    letter-spacing: 0px;
    color: #007392;
    opacity: 1;

    &:before {
        @include parts.pipe(108, 194, 74);
    }
}

.benefits__body {
    margin: 41px 0 0;
    display: grid; 
    grid-auto-rows: auto; 
    grid-template-columns: auto 1fr; 
    gap: 103px; 
}

.benefits__media {
    max-width: 588px;
    height: auto;

    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 2px solid #e2e8e8;
        box-sizing: border-box;
    }
}

.benefits__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: stretch;
}

.benefit__number {
    width: 83px;
    color: var(--unnamed-color-6cc24a);
    text-align: left;
    letter-spacing: 0px;
    color: #6CC24A;
}

.benefit {
    display: grid; 
    grid-auto-rows: auto; 
    grid-template-columns: auto 1fr; 
    gap: 11px;
    max-width: 437px;
}

.benefits__list {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: auto; 
    grid-template-rows: 1fr 1fr; 
    gap: 42px; 
}

.benefit__title {
    margin: 0;
    padding: 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-museo);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-007392);
    text-align: left;
    font: normal normal normal 32px/38px Museo;
    letter-spacing: 0px;
    color: #007392;
    opacity: 1;
}

.benefit__description {
    margin: 13px 0 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-museo);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-464851);
    text-align: left;
    font: normal normal normal 26px/32px Museo;
    letter-spacing: 0px;
    color: #464851;
    opacity: 1;
}

.benefits__note {
    margin: 50px auto 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-21)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-museo);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-464851);
    text-align: left;
    font: normal normal normal 21px/28px Museo;
    letter-spacing: 0px;
    color: #464851;
    max-width: 1160px;
    padding: 104px 164px;
    border: 6px solid #00739215;
    border-radius: 127px;
    box-sizing: border-box;

    p {
        margin: 0 auto 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}